html,
body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  background-color: #EE4C6D;
  justify-content: center;
  align-items: center;
}

.customer-information {
  display: flex;
  flex-direction: column;
  width: 940px;
  height: 600px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}

.payment-info {
  display: flex;
  flex-direction: column;
  width: 940px;
  height: 600px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .2);
}
